@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.hero img{
    min-width: 20%;
    border-radius: 10px;
    border: 2px solid #FFC107;
    flex: 3 0 0;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

ul{
    list-style-type: none;
}
.navbar{
    position: sticky;
    top: 0;
}
.navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: normal;
}

.navbar a:hover{
    color: #FFC107;
}
.navbar{
    position: sticky;
    height: 60px;
    background-color: #333554;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #FFC107;
}

.navbar ul{
    display: flex;
}

.navbar ul li{
    margin-left: 20px;
    flex: 1;
}

.hero{
    background-color: #0B0F2B;
    color: #FFFFFF;
}
.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 500px;
    gap: 70px;
    flex-wrap: wrap;
}

.hero .main-text{
    flex-wrap: wrap;
}

.hero .main-text h1{
    font-size: 48px;
    font-weight: bolder;
    width: 400px;
    margin-bottom: 20px;
    flex: 1;
}

.hero .main-text p{
    font-size: 18px;
    width: 500px;
    margin-bottom: 20px;
    line-height: 1.9;
    flex: 1;
}

.hero .main-text button{
    background-color: #FFC107;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #FFFFFF;
}

.hero .main-text button a{
    text-decoration: none;
    color: #1a1e3b;
    font-size: 14px;
    font-weight: 700;
}

.sectionA{
    background-color: #00BCD4;
}
.sectionA .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    gap: 30px;
    flex-wrap: wrap;
}
.sectionA .container .boxes{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.sectionA .boxes img{
    width: 230px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #1a1e3b;
    flex: 2;
}

.sectionA .container h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1a1e3b;
}

.sectionA .boxes .box p{
    width: 230px;
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    color: #FFC107;
}
.sectionA .boxes .box .tag{
    font-size: 18px;
    font-weight: bold;
    color: #0B0F2B;
}
.sectionA .boxes .box .width{
    width: 230px;
    background-color: #0B0F2B;
    border-radius: 10px;
    padding: 10px;
}

.sectionA .boxes .box .add{
    background-color: #0B0F2B;
    border-radius: 10px;
    padding: 25px;
}

.sectionA .boxes .box .extra{
    padding: 24.5px;
}

.sectionB{
    background-color: #FFC107;
    color: #1a1e3b;
}
.sectionB .container{
    display: flex;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}

.sectionB h3{
    max-width: 800px;
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.sectionC{
    min-height: 300px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}
.sectionC .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1e3b;
    max-width: 800px;
    padding: 20px 30px;
    border-radius: 10px;
}

.sectionC .container button {
    background-color: #FFC107;
    padding: 10px 30px;
    border-radius: 10px;
    border-color: #FFFFFF;
}

.sectionC .container .calltoaction{
    color:#FFFFFF;
}

.footer{
    background-color: #333554;
    color: #FFFFFF;
    height: 50px;
}
.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 16px;
    font-weight: bold;
}